{
  "printWidth": 80,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/src/components/(.*)$",
    "^@/src/assets/(.*)$",
    "^@/src/store/(.*)$",
    "^@/src/hooks/(.*)$",
    "^@/src/types/(.*)$",
    "^@/src/utils/(.*)$",
    "^@/src/api/(.*)$",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
